<!DOCTYPE html>
<html>

<head>
  <title>
    <%= user.id %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Detail of User</h1>
    <div id="info"></div>
  <button onclick="del_user()">Delete User</button><br>
    <a href="../list">Return to List of Users</a>


  <script>
    const pathname = window.location.pathname;
    const id = pathname
                .replace('/users/','')
                .replace('/detail','');
    fetch(`http://localhost:3000/users/${id}`)
    .then(response => response.json())
    .then(user => {
      document.getElementById('info').innerHTML=
      `<h2>
        User ID:  ${ user.id } <br>
        User Name:  ${ user.name } <br>
        User Email:  ${ user.email } <br>
      </h2>`
    });


    function del_user() {
      fetch('./', { method: 'DELETE' })
      .then(res => {
        window.location.replace("../list");
      });
    }
  </script>
</body>

</html>