<!DOCTYPE html>
<html>

<head>
  <title>
    <%= user.id %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Detail of User</h1>
  <h2>
    User ID:  <%= user.id %>    <br>
    User Name:  <%= user.name %>    <br>
    User Email:  <%= user.email %>    <br>
  </h2>

</body>

</html>